/* Estilos para o cabeçalho */
header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  .header-image {
    width: 100%;
    max-height: 200px;
  }
  
  /* Estilos para o menu de navegação */
  nav {
    background-color: #333;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Estilos para o conteúdo */
  main {
    padding: 20px;
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .hor {
    padding: 20px;
  }
  
  .tabela {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  /* Estilos para o rodapé */
  footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  .logo{
    height: 200px;
  }

  @media screen and (max-width: 812px){
    .logo{
      width: 120%;
    }
  }

  @media screen and (max-width: 400px){
    .logo{
      height: 120%;
    }
  }