/* Estilos para o cabeçalho */
header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.header-image {
  width: 100%;
  max-height: 200px;
}

/* Estilos para o menu de navegação */
nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}

/* Estilos para o conteúdo */
main {
  padding: 20px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.hor {
  padding: 20px;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

/* Estilos para o rodapé */
footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.logo{
  height: 200px;
}

@media screen and (max-width: 812px){
  .logo{
    width: 120%;
  }
}

@media screen and (max-width: 400px){
  .logo{
    height: 120%;
  }
}