/* Estilos para o cabeçalho */
header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.header-image {
  width: 100%;
  max-height: 200px;
}

/* Estilos para o menu de navegação */
nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}

/* Estilos para o conteúdo */
main {
  padding: 20px;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

/* Estilos para o rodapé */
footer {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.form input[type=text],
.form input[type=email]{
    padding-left: 10px;
    display: block;
    border-radius: 20px;
    margin: 10px auto;
    width:100%;
    height: 35px;
    font-size: 15px;
    border: 1px solid #ccc;
}

.form textarea{
    padding-left: 10px;
    resize: vertical;
    display: block;
    border-radius: 20px;
    margin: 10px auto;
    width:100%;
    height: 100px;
    font-size: 15px;
}

.form input[type=submit]{
    padding-left: 10px;
    display: block;
    border-radius: 20px;
    margin: 10px auto;
    width:50%;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
    background-color: #0a67f3;
    border: 1px solid #ccc;
}

.form input[type=reset]{
  padding-left: 10px;
  display: block;
  border-radius: 20px;
  margin: 10px auto;
  width:50%;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f30a0a;
  border: 1px solid #ccc;
}

.logo{
  height: 200px;
}

@media screen and (max-width: 812px){
  .logo{
    width: 120%;
  }
}

@media screen and (max-width: 400px){
  .logo{
    height: 120%;
  }
}